.flex-outer button {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 3px;
    margin: 10px;
}

.flex-outer > li > button {
    margin-left: 0px;
    padding: 6px 12px;
}

.flex-outer > li > label + * {
    flex: 1px 0px 225px;
}

.flex-outer > li > label {
    flex: 1px 0px 125px;
    max-width: 225px;
    padding: 8px;
}

.flex-outer li p {
    flex: 1px 0px 125px;
    max-width: 225px;
    padding: 8px;
}

.flex-outer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    max-width: 800px;
    padding: 0px 16px;
}

.flex-inner li {
    justify-content: space-between;
    width: 80px;
    list-style: none;
}

.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1px 0px 225px;
    list-style: none;
}

body {
    background-color: #F0F8FF;
}

form {
    margin: 0 auto;
    width: 800px;
    padding: 1em;
}

ul {
    list-style: none;
}

label {
    display: inline-block;
    width: 60px;
    padding: 10px;
    text-align: left;
}

textarea {
    display: flex;
    align-items: center;
    vertical-align: top;
    text-align: left;
    height: 5em;
}